@using Cms.Models.OutputModels.Bill;
@model ListBillModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-list font-red"></i>
            <span class="caption-subject font-red sbold uppercase">@ViewData["Title"]</span>
        </div>
        <div class="actions">
            @*<a class="btn btn-transparent red btn-outline btn-circle btn-sm" href="/Product/Create"> <i class="fa fa-plus"></i> Thêm sản phẩm mới</a>*@
        </div>

    </div>

    <div class="portlet-body">

        <div class="tabbable-line boxless tabbable-reversed">

            <div class="tab-content">
                <div class="tab-pane active" id="tab_0">

                    @*ViewBag.CustomerName = customerName;
                    ViewBag.Address = address;
                    ViewBag.Email = email;*@


                    <div class="form-group">
                            <form method="get" class="form-inline" asp-controller="Bill" asp-action="Index">

                                <div class="form-group">
                                    <div class="input-icon right">
                                        <i class="icon-magnifier"></i>
                                        <input type="text" name="customerName" class="form-control" placeholder="Tên khách hàng" value="@ViewBag.CustomerName">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-icon right">
                                        <i class="icon-magnifier"></i>
                                        <input type="text" name="address" class="form-control" placeholder="Địa chỉ khách hàng" value="@ViewBag.Address">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-icon right">
                                        <i class="icon-magnifier"></i>
                                        <input type="text" name="email" class="form-control" placeholder="Email khách hàng" value="@ViewBag.Email">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="yyyy-mm-dd">
                                        <input type="text" class="form-control" name="keywordDateFrom" value="@((Model != null && Model.KeywordDateFrom != null) ? Model.KeywordDateFrom : string.Empty)">
                                        <span class="input-group-addon"> to </span>
                                        <input type="text" class="form-control" name="keywordDateTo" value="@((Model != null && Model.KeywordDateTo != null) ? Model.KeywordDateTo : string.Empty)">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <select class="form-control" name="status" asp-items="@ViewBag.Status"></select>
                                </div>
                                <button type="submit" class="btn green">Tìm kiếm</button>
                            </form>
                    </div>

                    @if (Model != null && Model.Bills != null && Model.Bills.Count > 0)
                    {
                        <a class="btn btn-danger red btn-outline btn-sm" id="btnDeleteBills">
                            <i class="table table-striped"></i>Xóa nhiều đơn hàng
                        </a>

                        <div class="table-scrollable">
                            <table class="table table-striped  b-t b-light">
                                <thead>
                                    <tr>
                                        <th class="check-header hidden-xs"><label><input id="checkAllBill" name="checkAllBill" type="checkbox"></label></th>
                                        <th>Tên khách hàng</th>
                                        <th>Địa chỉ khách hàng</th>
                                        <th>Email khách hàng</th>
                                        <th>Trạng thái đơn hàng</th>
                                        <th>Mã đơn hàng</th>
                                        <th>Ngày đặt hàng</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.Bills)
                                    {
                                        var urledit = Url.Action("Detail", new { id = item.Id });
                                        //var urlType = Url.Action("Edit", "ProductType", new { id = item.TypeId });
                                        <tr>
                                            <td>
                                                <label for="checkbox@(item.Id)"><input class="ckBill" id="checkbox@(item.Id)" type="checkbox" value="@(item.Id)"></label>
                                            </td>
                                            <td>
                                                <a href="@urledit" class="text-info">@item.CustomerName</a>
                                            </td>

                                            <td>
                                                <a href="@urledit" class="text-info">@item.CustomerAddress</a>
                                            </td>

                                            <td>
                                                <a href="@urledit" class="text-info">@item.CustomerEmail</a>
                                            </td>
                                            @if (item.Status == Core.Entities.BatTrangModel.BillStatus.Booked)
                                            {
                                                <td class="">
                                                    <a href="@urledit" class="btn btn-xs btn-success">@item.StatusString</a>
                                                </td>

                                            }
                                            else if (item.Status == Core.Entities.BatTrangModel.BillStatus.Shipping)
                                            {
                                                <td>
                                                    <a href="@urledit" class="btn btn-xs btn-success">@item.StatusString</a>
                                                </td>

                                            }
                                            else
                                            {
                                                <td class="">
                                                    <a href="@urledit" class="btn btn-xs btn-success">@item.StatusString</a>
                                                </td>

                                            }

                                            <td>
                                                <a href="@urledit" class="text-info">@item.Id</a>
                                            </td>

                                            <td>
                                                <a href="@urledit" class="text-info">@item.DateCreateString</a>
                                            </td>

                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default mt-ladda-btn ladda-button" data-style="expand-left">
                                                    <span class="ladda-label">Cập nhật</span>
                                                </a>
                                                <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-default mt-ladda-btn ladda-button" data-style="expand-left">
                                                    <span class="ladda-label">Chi tiết</span>
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>


                            </table>

                        </div>




                        <div>
                            <pager pager="@Model.Pager"></pager>
                        </div>

                    }
                    else
                    {
                        <div class="row wrapper">
                            <div class="col-sm-12"><div class=" alert alert-info">Không có đơn hàng nào !</div></div>
                        </div>

                    }

                    

                </div>
            </div>


        </div>

    </div>

</div>
