@model ListCustomerPackageViewModel
@{
    ViewData["CustomerPackageTitle"] = "Chi tiết gói cước";
}
@if (Model != null && Model.CustomerPackages.Count > 0)
{

    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-list font-red"></i>
                <span class="caption-subject font-red sbold uppercase">@ViewData["CustomerPackageTitle"]</span>
            </div>

        </div>
        <div class="portlet-body form">
            <table class="table table-striped  b-t b-light">
                <thead>
                    <tr>

                        <th>Người dùng</th>
                        <th>Ngày hết hạn</th>
                        <th class="text-center">Trạng thái</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.CustomerPackages)
                    {
                        TimeSpan date = @item.ExpiredTime - @DateTime.Now;
                        <tr>
                            <td>@item.Customer.Name</td>
                            <td>@item.ExpiredTime</td>
                            <td class="text-center">
                                @if (@date.TotalDays > 0)
                                {

                                    <i class="fa fa-check text-success"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times text-danger"></i>

                                }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


}
else
{    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-list font-red"></i>
                <span class="caption-subject font-red sbold uppercase">@ViewData["CustomerPackageTitle"]</span>
            </div>

        </div>
        <div class="portlet-body form">
            <div class="alert alert-danger"> Chưa có chi tiết gói</div>
        </div>
    </div>
}
